@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

* {
  font-family: "Poppins", sans-serif;
}

.robotoFont {
  font-family: "Roboto", sans-serif;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #32e6e2;
  --color-primary-content: #12181f;
  --color-secondary: #0f172a;
  --color-secondary-content: #ffffff;
}

/* e6ecf2 */

.rounded_btn {
  @apply btn btn-primary rounded-full text-[1rem] text-secondary;
}
.rounded_btn_outline {
  @apply btn btn-primary btn-outline text-secondary-content rounded-full text-[1rem] hover:text-secondary;
}

body {
  background-color: #020617;
}

.app-bg {
  min-height: 100vh;
  background: radial-gradient(
      70% 60% at 20% 30%,
      rgba(50, 230, 226, 0.14),
      transparent 65%
    ),
    radial-gradient(
      60% 50% at 80% 70%,
      rgba(50, 230, 226, 0.1),
      transparent 70%
    );
}

.swiper-button-next,
.swiper-button-prev {
  color: #06c2bf !important;
}

.boxStyle {
  @apply bg-primary/10 p-4 shadow-md border rounded-lg border-primary/50 space-y-3;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

html {
  scroll-behavior: smooth;
}
