@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

* {
  font-family: "Poppins", sans-serif;
}

.robotoFont {
  font-family: "Roboto", sans-serif;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #32e6e2;
  --color-primary-content: #12181f;
  --color-secondary: #0f172a;
  --color-secondary-content: #ffffff;
}

/* e6ecf2 */

.rounded_btn {
  @apply btn btn-primary rounded-full text-[1rem] text-secondary;
}
.rounded_btn_outline {
  @apply btn btn-primary btn-outline text-secondary-content rounded-full text-[1rem] hover:text-secondary;
}

body {
  min-height: 100vh;
  background-color: #020b1f;
}

.swiper-button-next,
.swiper-button-prev {
  color: #06c2bf !important;
}

.boxStyle {
  @apply bg-primary/10 p-4 shadow-md border rounded-lg border-primary/50 space-y-3;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

html {
  scroll-behavior: smooth;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #9ca3af;
  pointer-events: none;
  float: left;
  height: 0;
}

.ProseMirror {
  outline: none;
  height: 150px;
  overflow-y: auto;
  line-height: 1.6;
}

.prose p {
  margin: 0;
}

.prose > p + p {
  margin-top: 1rem;
}

.prose ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.prose ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.prose li {
  margin: 0.25rem 0;
}

.ProseMirror {
  outline: none;
  line-height: 1.6;
}

.ProseMirror h3,
.prose h3 {
  font-size: 1.2rem;
  margin-bottom: 3px;
  font-weight: 600;
}

.ProseMirror h4,
.prose h4 {
  font-size: 1.05rem;
  margin-bottom: 5px;
  font-weight: 500;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}

.ProseMirror li {
  margin: 0.25rem 0;
}

.sortingBTN {
  @apply btn btn-secondary border-0 bg-secondary/50 outline-offset-0 outline-1 outline-primary/10 focus-within:outline-primary
}